* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #EAEBEF;
    font-family: 'Poppins', sans-serif;
}

.main-menu-icon {
    position: absolute;
    top: 1em;
    left: 1.5em;
    cursor: pointer;
}
.hide {
    left: 0;
    transition: ease 800ms;
}
header {
    position: absolute;
    left: -400px;
    transition: ease 800ms;
}
.main-menu-icon img {
    width: 3em;
    aspect-ratio: 1;
}
.nav {
    width: 300px;
    position: absolute;
    top: 5em;
    
}
.nav__link {
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}
.nav__link--inside {
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}
.nav__link--inside:hover {
    background: gray;
    
}
.list {
    position: relative;
    width: 100%;
    height: 87vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #fff;
}
.list__item {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.list__item--click {
    cursor: pointer;
}
.list__button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}
.arrow .list__arrow {
    transform: rotate(90deg);
}
.list__arrow {
    margin-left: auto;
    transition: transform .3s;
}
.list__show {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}
.car-icon {
    position: absolute;
    right: 2em;
    top: 0.3em;
    width: 4.5em;
    aspect-ratio: 1;
    cursor: pointer;
}
.car-icon img {
    width: 100%;
}
.icon-Container {
    width: 100%;
    height: 5em;
    background-color: rgb(240, 231, 231);
}
.number {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 1.5em;
    aspect-ratio: 1;
    top: 1.5em;
    right: 1.2em;
    text-align: center;
}
.academlo-icon {
    position: absolute;
    width: 10em;
    height: 4em;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
}
.academlo-icon img {
    width: 100%;
    height: 100%;
}
